body {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
  }
.text-brown{
  color: #916019;
}
.text-brown:hover{
  color: #AC8A46;
}
.bg-brown{
  background-color: #916019;
}
.bg-gold{
  background-color: #AC8A46;
}
.bg-gray{
  background-color: #E0E0E0;
}
.bg-darkgray{
  background-color: #8D8D8D;
}
.bg-transparent{
  background-color: transparent;
}
.text-white{
  color: #FFFFFF;
}
.text-gray{
  color: #8D8D8D;
}